<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>MyPassMan</title>
</head>

<body>

    <div class="container">
        <!-- ================Nav bar ================ -->
        <div class="nav">
            <input type="checkbox" id="nav-check">
            <div class="nav-header">
                <div class="nav-title">
                    MyPassMan
                </div>
            </div>
            <div class="nav-btn">
                <label for="nav-check">
                    <span></span>
                    <span></span>
                    <span></span>
                </label>
            </div>

            <div class="nav-links">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">SignUp</a></li>
                </ul>
            </div>
        </div>
        <!-- ================Nav bar ================ -->


        <!-- ================ hero section   ================ -->

        <div class="hero">
            <div class="content">
                <div class="hero_heading">
                    <h1>PASSWORD MANAGEMENT FROM ANYWHERE</h1>
                </div>
                <h2>Life is happening online. Work. Play. Family and friends.
                    LastPass puts your digital life at your fingertips, simply and securely.</h2>
            </div>
        </div>

    </div>

</body>

</html>